<p>campos works!</p>
<div class="form-control"> <H4 > pone en rojo los campos que no estan validados</H4>
    <p>
        Los campos con * son obligatorios, los que no son obligatorios si se llenan tienen que estar bien escrito<br>
        campo obligatorio: cualquier cosa<br>
        maximo 10 caracteres: cualquier cosa con no mas de 10 caracteres<br>
        minimo 5 caracteres:  cualquier cosa con mas de 4 caracteres<br>
        maxvalor: un entero menor o igual que 30<br>
        minvalor: in entero mayor o igual a 18<br>
        email: un correo con el formato *@*<br>
        passworrd: cualquier combinacion de letras y numeros. es obligado una Mayuscula y un numero el password debe tener 8 caracteres como minimo<br>
        cel cubano: un numero de 10 cifras que empieza con 535 <br>
        ci cubano: un numero de 11 cifras con fecha valida
        
    </p>
    <form [formGroup]="form"  (submit)="funcion()">
        
        <div class="row ">

        
        <div class=" col-md-4">
            <input formControlName="novacio" [ngStyle]="novacioColor">
            <div>
                <label [ngStyle]="novacioColor">campo obligatorio*</label>
            </div>
            
            
        </div>
         <div class=" col-md-4">
            <input formControlName="max10"   name="max10" [ngStyle]="max10Color">
            <div>
                <label [ngStyle]=" max10Color">maximo 10 caracteres</label>
            </div>
          
         </div>
         
        
         <div class=" col-md-4">
            <input formControlName="min5" [ngStyle]="min5Color">
            <div>
                <label [ngStyle]="min5Color">minimo 5 caracteres</label>
            </div>
            
         </div>

         <span style="margin-top: 3%;"></span>
         
         <div class=" col-md-4">
            <input formControlName="maxvalor" [ngStyle]="maxvalorColor" mask="0*">
            <div>
                <label  [ngStyle]="maxvalorColor">Numero menor que 30</label>
            </div>
            
         </div>

         <div class=" col-md-4">
            <input formControlName="minvalor" [ngStyle]="minvalorColor" mask="0*">
            <div>
                <label [ngClass]="minvalorColor">numero mayor que 18*</label>
            </div>
            
            
         </div>
         <div class=" col-md-4 " >
            <input formControlName="email" [ngStyle]="emailColor">
            <div>
                <label  [ngStyle]="emailColor">email*</label>
            </div>
            
         </div>
        
         <span style="margin-top: 3%;"></span>
        <div class="col-md-4" >
            <input type="password" formControlName="pass" [ngStyle]="passColor">
            <div>
                <label [ngStyle]="passColor" >password*</label>
            </div>
            
        </div>
        <div class="col-md-4" >
            <input formControlName="ci" [ngStyle]="ciColor" mask="0*">
            <div>
                <label [ngStyle]="ciColor" >Ci cubano *</label>
            </div>
            
        </div>
        <div class="col-md-4">
            <input formControlName="cel" [ngStyle]="celColor" mask="0*">
            <div>
                <label  [ngStyle]="celColor">cel cuba (535*******)*</label>
            </div>
            
        </div>
         
        </div>
        
         
        <button class="btn btn-primary space" style="margin-top: 2%;"> enviar </button>
        
    </form>

</div> 
<hr>
<h4>Campos con formato y validacion  automatica</h4>
<form [formGroup]="form2" class="row">
   
    <div class="col-md-4">
        <input mask="(00)00000-0000" formControlName="celb" placeholder="(12)23456-7894">
        <div>
            <label >Cel Brasil</label>
        </div>
    </div>
    <div class="col-md-4">
        <input mask="000.000.000-00" placeholder="123.456.789-01">
        <div>
            <label >cpf</label>
        </div>
    </div>
    <div class="col-md-4">
        <input mask="00000-000" placeholder="12345-678" >
        <div>
            <label >CP</label>
        </div>
    </div>
    <span style="margin-bottom: 5%;"></span>
    <div class="col-md-4">
        <input mask="d0/M0/0000" placeholder="dd/mm/yyyy" >
        <div>
            <label >fecha</label>
        </div>
    </div>
    <div class="col-md-4">
        <input  mask="0*.00" class="rigth-left"  >
        <div>
            <label >Saldo</label>
        </div>
    </div>
    <div class="col-md-4">
        <input  prefix="CU-T " mask="0000" placeholder="CU-T 1234">
        <div>
            <label >Matricula de Avion cubano</label>
        </div>
    </div>
    <span style="margin-top: 3%;"></span>
    <div class="col-md-4">
        <input  mask="AAAA-AAAA-AAAA-AAAA" [showMaskTyped]="true" >
        <div>
            <label >Clave combinada</label>
        </div>
    </div>
    <div class="col-md-4">
        <input class="rigth-left" mask="separator" thousandSeparator="," formControlName="cal" placeholder="1,234,567">
        <div>
            <label >estilo calculadora</label>
        </div>
    </div>
    <div class="col-md-4">
        <input formControlName="user">
        <div>
            <label >Campo sin formato</label>
        </div>
    </div>
    
    <!-- <input formControlName="cp" (keypress)="valcampo($event)"   min="1" class="rigth-left"> -->
</form>


<label style="margin-top:5%; margin-bottom:5%"> hola fin</label>
